@lost flexbox flex

/* This was guessed based on the output */
@lost gutter 1.67rem;

.toc {
  lost-center: 77.8%;
  margin-bottom:1rem;
  margin-bottom: 1rem;
  lost-utility: edit;
}

.third {
  lost-column: 1/3 4;
}

.wide {
  lost-column: 3/3 1;
}
